.checkbox-filter {
  border: none;
  padding: 0;
  margin: 0;
}

.checkbox-filter__legend {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  font-family: $font-family;
  color: $color-pink;
  text-align: center;
  padding: 0 31px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.checkbox-filter__label {
  font-family: $font-family;
  font-size: 18px;
  line-height: 24px;
  color: $text-color;
  font-weight: 400;
  padding-left: 69px;
  display: block;
  margin-bottom: 58px;
}

.checkbox-filter__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.checkbox-filter__input {
  display: none;
}

@media (min-width: $tablet) {
  .checkbox-filter__list {
    margin-bottom: -2px;
  }
}


@media (min-width: $tablet) {
  .checkbox-filter__legend {
    margin-bottom: 51px;
  }
}

@media (min-width: $tablet) {
  .checkbox-filter__label {
    padding-left: 118px;
  }
}

@media (min-width: $tablet) {
  .checkbox-filter {
    order: 1;
    border: 2px solid $border-color;
    margin-bottom: 54px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item {
    width: 273px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__label {
    width: 273px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__label {
    padding-left: 0;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter {
    padding: 0 60px;
    padding-left: 60px;
    padding-right: 55px;
    margin-bottom: 62px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:first-child {
    order: -3;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:first-child label {
    padding-left: 58px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:nth-child(3) label {
    padding-left: 91px;
    margin-left: 8px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:nth-child(3) {
    order: -2;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:nth-child(5) {
    order: -1;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:nth-child(5) label {
    padding-left: 121px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:nth-child(2) label {
    padding-left: 58px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:nth-child(4) label {
    padding-left: 99px;
  }
}

@media (min-width: $desktop) {
  .checkbox-filter__item:last-child label {
    padding-left: 121px;
  }
}
