.contacts__list {
  display: flex;
  flex-direction: column;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 320px;
    height: 65px;
    top: 245px;
    left: -20px;
  }
}

.contacts__title {
  font-family: $font-family;
  font-size: 24px;
  line-height: 28px;
  color: $text-color;
  font-weight: 300;
  text-align: center;
  margin-bottom: 37px;
}

.contacts__mobile,
.contacts__mail,
.contacts__invitaition {
  font-family: $font-family;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 7px;
}

.contacts__mail {
  font-family: $font-family;
  font-size: 18px;
  line-height: 18px;
  color: $text-color;
  font-weight: 700;
  display: block;
  text-align: center;
  margin-bottom: 7px;
}

.contacts__link {
  font-family: $font-family;
  font-size: 24px;
  line-height: 24px;
  color: $color-pink;
  font-weight: 300;
  text-align: center;
  display: block;
}

.contacts__adress {
  font-family: $font-family;
  font-size: 24px;
  line-height: 28px;
  color: $color-pink;
  font-weight: 300;
  width: 280px;
  text-align: center;
}

.map {
  height: 200px;
}

.container--map {
  background-image: url("../../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 -432px;
  height: 200px;
}

.contacts__block {
  margin-bottom: 26px;
}

.contacts__block--mid {
  margin-bottom: 31px;
}

@media (min-width: $tablet) {
  .contacts__list {

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/triangle-tablet.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 660px;
      height: 100px;
      top: 187px;
      left: -20px;
    }
  }
}

@media (min-width: $tablet) {
  .container--map {
    background-image: url("../../img/tablet-map.png");
    background-repeat: no-repeat;
    background-position: 0 -330px;
    background-size: 660px 868px;
    height: 404px;
  }
}

@media (min-width: $tablet) {
  .map {
    height: 404px;
    margin-bottom: 55px;
  }
}

@media (min-width: $tablet) {
  .contacts__adress {
    margin-left: 11px;
  }
}

@media (min-width: $tablet) {
  .contacts {
    margin-bottom: 35px;
  }
}

@media (min-width: $tablet) {
  .contacts__invitaition {
    margin-left: 2px;
    margin-bottom: 9px;
  }
}

@media (min-width: $tablet) {
  .contacts__mail {
    margin-left: 41px;
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet) {
  .contacts__mobile {
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet) {
  .contacts__link--mail {
    margin-left: 41px;
  }
}

@media (min-width: $tablet) {
  .contacts__title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    width: 578px;
    margin-left: 22px;
    margin-bottom: 46px;
  }
}

@media (min-width: $tablet) {
  .contacts__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $tablet) {
  .contacts__block {
    width: 300px;
    margin-bottom: 50px;
  }
}

@media (min-width: $tablet) {
  .contacts__block--long {
    width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .contacts__title {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    width: 578px;
    margin-left: 181px;
    margin-bottom: 59px;
  }
}

@media (min-width: $desktop) {
  .contacts__block--long {
    width: 300px;
    margin: 0 auto;
    order: 1;
  }
}

@media (min-width: $desktop) {
  .contacts__block--mid {
    width: 300px;
    margin: 0 auto;
    order: 2;
  }
}

@media (min-width: $desktop) {
  .contacts__list {
    display: flex;
    flex-wrap: wrap;
    width: 926px;
  }
}

@media (min-width: $desktop) {
  .contacts__invitaition {
    margin-left: 27px;
    margin-bottom: 9px;
  }
}

@media (min-width: $desktop) {
  .contacts__adress {
    margin-left: 24px;
  }
}

@media (min-width: $desktop) {
  .contacts__block span {
    margin-bottom: 29px;
  }
}

@media (min-width: $desktop) {
  .container--map {
    background-image: url("../../img/desktop-map.png");
    background-repeat: no-repeat;
    background-position: -725px -275px;
    background-size: 2560px 1002px;
    height: 504px;
  }
}

@media (min-width: $desktop) {
  .map {
    height: 504px;
    margin-bottom: 90px;
  }
}

@media (min-width: $desktop) {
  .contacts__list {

    &::after {
      content: "";
      position: absolute;
      background-image: url("../../img/triangle-desktop.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      width: 1200px;
      height: 123px;
      top: 103px;
      left: -130px;
    }
  }
}
