.page-header {
  margin-bottom: 40px;
  background: $info-color url("../../img/bg-back-mobile@1x.jpg") no-repeat 50% top;

  &::before {
    content: "";
    position: absolute;
    background-color: $info-color;
    opacity: 0.6;
    width: 100%;
    height: 66px;
    top: 0;
    left: 0;
  }
}

@media (min-width: $tablet) {
  .page-header {
    margin-bottom: 0;
    background: $info-color url("../../img/back-tablet@1x.jpg") no-repeat 50% -7px;

    &::before {
      content: "";
      position: absolute;
      background-color: $info-color;
      opacity: 0.6;
      width: 100%;
      height: 104px;
      top: 0;
      left: 0;
    }
  }
}

@media (min-width: $desktop) {
  .page-header {
    background: $info-color url("../../img/back-desktop.jpg") no-repeat 50% 50%;
    background-size: 1200px 853px;
    margin-bottom: 20px;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      background-color: $info-color;
      opacity: 0.6;
      width: 100%;
      height: 108px;
      top: 0;
      left: 0;
    }
  }
}
