.site-list__item {
  background-color: $text-color;
  font-family: $font-family;
  font-size: 18px;
  line-height: 32px;
  color: $white-color;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px;
}

@media (min-width: $desktop) {
  .site-list__item {
    background-color: transparent;
    font-family: $font-family;
    font-size: 18px;
    line-height: 18px;
    color: $white-color;
    font-weight: 400;
    text-transform: none;
  }
}
