$font-family: "Open Sans", sans-serif;
$text-color: #283645;
$white-color: #ffffff;
$color-pink: #d22856;
$bg-light-gray: #f2f2f2;
$black: #000000;
$border-color: #e5e5e5;
$btn-color: #2aab6d;
$info-color: #1d2631;
$nav-color: #25313d;
$border-top: #485461;
$mobile: 320px;
$tablet: 660px;
$desktop: 960px;
